<section id="login" class="py-5 mt-4">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 text-uppercase mb-4 font-weight-bold" style="color:#FE4A49">
          <strong>Users</strong>
        </h1>
        <div class="title-underline" style="background-color:#FE4A49"></div>
      </div>
    </div>
    <!--end of title-->
    <!--form-->
    <div *ngFor="let user of users" class="card card-body p-5 mt-4 bg-white" style="width:800px">

      <form  novalidate>

        <div class="form-group ">
          <label for="inputFname" class="text-danger h4">Name:</label>
          <h3>{{user.name}}</h3>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="text-danger h4">Email</label>
          <h3>{{user.email}}</h3>
        </div>
        <div class="form-group">
          <label for="job" name="job" class="text-danger h4">Job</label>
          <h3>{{user.job ==1 ? "Nurse" : user.job == 0 ? "Admin" : "Lab Tech."}}</h3>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="sex" name="sex" class="text-danger h4">Sex</label>
            <h3>{{user.sex == 0 ? "Male": "Female"}}</h3>
          </div>
          <div class="form-group col-md-9">
            <label for="id" class="text-danger h4">Social Security Number</label>
            <h3>{{user.ssn}}</h3>
          </div>
        </div>
      </form>

      <!--end of form-->
    </div>
  </div>
</section>
<!--end of donation form-->