<!--navbar-->
<nav class="navbar fixed-top py-2 navbar-light navbar-expand-sm bg-white font-weight-bold justify-content-between">
    <a class="navbar-brand font-italic text-danger text-capitalize display-2 font-weight-bold" href="#">
      <img src="../setup/img/bloodbankicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      BST
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item active"><a href="#home" class="nav-link"> Home </a></li>
        <li class="nav-item"><a href="home#about" class="nav-link"> About </a></li>
        <li class="nav-item"><a href="home#why" class="nav-link"> Why donate? </a></li>
        <li class="nav-item"><a href="home#who" class="nav-link"> Who can donate? </a></li>
        <li class="nav-item"><a href="home#contact" class="nav-link"> Contact </a></li>
        <li class="nav-item"><a href="/login" class="nav-link"> Log In </a></li>
      </ul>
    </div>
    <form class="form-inline mx-auto p-1 my-1 my-lg-0">
      <input class="form-control-sm form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger btn-sm" type="submit">Search</button>
    </form>
  </nav>  
  <!--end of navbar-->