<section id="login" class="py-5 mt-4">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 text-uppercase mb-4 font-weight-bold" style="color:#FE4A49">
          <strong>Blood Bag Test</strong>
        </h1>
        <div class="title-underline" style="background-color:#FE4A49"></div>
      </div>
    </div>
    <!--end of title-->
    <!--form-->
    <div class="card card-body p-5 mt-4 bg-white" style="width:800px">

      <form #testForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="bid" class="text-danger h4">Bag ID</label>
          <input type="text" #bid="ngModel" name="bid" [(ngModel)]="testModel.bid" class="form-control form-control-lg" id="bid" placeholder="123">
        </div>
        <div class="form-group">
          <label for="hepb" class="text-danger h4">Hepatitis B</label>
          <select type="number" #hepb="ngModel" name="hepb" [(ngModel)]="testModel.hepb" class="form-control form-control-lg" id="hepb"
            placeholder="Positive">
            <option [ngValue]="0">Negative</option>
            <option [ngValue]="1">Positive</option>
          </select>
        </div>
        <div class="form-group">
          <label for="hepc" class="text-danger h4">Hepatitis C</label>
          <select type="number" #hepc="ngModel" name="hepc" [(ngModel)]="testModel.hepc" class="form-control form-control-lg" id="hepc"
            placeholder="Positive">
            <option [ngValue]="0">Negative</option>
            <option [ngValue]="1">Positive</option>
          </select>
        </div>
        <div class="form-group">
          <label for="hiv" class="text-danger h4">HIV</label>
          <select type="number" #hiv="ngModel" name="hiv" [(ngModel)]="testModel.hiv" class="form-control form-control-lg" id="hiv"
            placeholder="Positive">
            <option [ngValue]="0">Negative</option>
            <option [ngValue]="1">Positive</option>
          </select>
        </div>
        <div class="form-group">
          <label for="syph" class="text-danger h4">Syphilis</label>
          <select type="number" #syph="ngModel" name="syph" [(ngModel)]="testModel.syph" class="form-control form-control-lg" id="syph"
            placeholder="Positive">
            <option [ngValue]="0">Negative</option>
            <option [ngValue]="1">Positive</option>
          </select>
        </div>
        <button type="submit" class="btn btn-outline-danger btn-lg mt-3">Submit</button>
      </form>
      <!--end of form-->
      <div class="alert alert-success m-3" role="alert" *ngIf="success">
        New Test Result has been added.
      </div>

      <div class="alert alert-danger m-3" *ngIf="errorMessage" role="alert">
        {{errorMessage}}
      </div>
    </div>
  </div>
</section>
<!--end of donation form-->