<section id="login" class="py-5 mt-4">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 text-uppercase text-white mb-4 font-weight-bold">
          <strong>Donation Appointment</strong>
        </h1>
        <div class="title-underline bg-white"></div>
      </div>
    </div>
    <!--end of title-->
    <!--form-->
    <div class="card card-body p-5 mt-4 bg-white" style="width:800px">
      <!--simple form-->
      <form #appointmentForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="inputName" class="text-danger h4">Name:</label>
          <input required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="userModel.name"
            type="text" class="form-control form-control-lg" id="inputName" placeholder="Name (eg. John Doe)">
        </div>


        <div class="form-group">
          <label for="inputAddress" class="text-danger h4">Email:</label>
          <input type="email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" name="email" [(ngModel)]="userModel.email"
            class="form-control form-control-lg" id="inputEmail" placeholder="example@example.com">
        </div>



        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="date" class="text-danger h4">Date</label>
            <input type="date" required #day="ngModel" [class.is-invalid]="day.invalid && day.touched" name="day"
            [(ngModel)]="userModel.day" class="form-control form-control-lg" id="date">
          </div>
          <div class="form-group col-md-6">
            <label for="time" class="text-danger h4">Select Appointment Time</label>
            <select required #hour="ngModel" [class.is-invalid]="hour.invalid && hour.touched" class="form-control"
            name="hour" [(ngModel)]="userModel.hour" class="form-control form-control-lg" id="time">
              <option [ngValue]="9" default>9 am</option>
              <option [ngValue]="10">10 am</option>
              <option [ngValue]="11">11 am</option>
              <option [ngValue]="12">12 pm</option>
              <option [ngValue]="13">1 pm</option>
              <option [ngValue]="14">2 pm</option>
              <option [ngValue]="15">3 pm</option>
              <option [ngValue]="16">4 pm</option>
            </select>
          </div>
        </div>

        <button type="submit"
        [disabled]="appointmentForm.form.invalid" class="btn btn-outline-danger btn-lg mt-3">Submit</button>
      </form>