<!--home section-->
<section id="home" class="p-5 filler height">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center pt-5">
        <h1 class="text-white text-uppercase pt-5"><strong class="display-3 font-weight-bold">1 pint</strong> of blood can
          save up to <strong class="display-3 font-weight-bold">3 lives</strong> </h1>
        <a href="/appointment" class="btn btn-lg btn-danger m-3 text-uppercase font-weight-bold" id="donatenow">donate now</a>
      </div>
    </div>
  </div>
</section>
<!--end of home section-->

<!--about section-->
<section id="about">
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col">
        <!--Title-->
        <div class="row">
          <div class="col text-center">
            <h1 class="display-4 text-uppercase text-white font-weight-bold my-4">
              <strong>About Us</strong>
            </h1>
            <div class="title-underline bg-white"></div>
          </div>
        </div>
        <!--end of title-->
        <p class="lead py-2 mx-4 w-75 font-weight-bold mx-auto text-center my-3" style="color:rgb(255, 255, 255)">Our BST
          <small>Blood, Sweat & Tears</small> blood bank was founded 50 years ago. We have always aimed to keep pace with
          the new technologies serving blood transfusions. We have been accredited by the American Association of Blood Banks
          (AABB) and the Foundation for the Accreditation for Cellular Therapy (FACT). Our technicians, nurses and medical
          staff are a family who put the needs of the patient and the donor first and foremost. </p>
        <img src="../../assets/Hospital.jpg" height="280px" width="450px" class="center mb-5" alt="BST blood bank">
      </div>
    </div>
  </div>
</section>
<!--end of about section-->

<!--why donate section-->
<section id="why" class="py-5 bg-white">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 text-uppercase text-danger font-weight-bold mb-4">
          <strong>Why donate?</strong>
        </h1>
        <div class="title-underline bg-danger"></div>
      </div>
    </div>
    <!--end of title-->
    <div class="row">
      <!--single col-->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <img src="../../assets/whydon1.png" width="160px" height="200px" alt="save lives">
        <p class="lead mt-3">By donating blood at Blood, Sweat & Tears blood bank, you can help save lives with your blood.
          Hospital patients need about 44,000 blood donations DAILY and about one of every seven people who go to a hospital
          end up needing donated blood as part of their treatment.</p>
      </div>
      <!--end of single col-->
      <!--single col-->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <img src="../../assets/whydon2.png" width="150px" height="200px" alt="save lives">
        <p class="lead mt-3">Donations of more rare blood types are especially in demand. For example, people with O negative
          blood only make up about 8 percent of the population, but their blood can be given to patients of all blood types,
          making their donors highly needed.</p>
      </div>
      <!--end of single col-->
      <!--single col-->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <img src="../../assets/whydon3.png" width="160px" height="200px" alt="save lives">
        <p class="lead mt-3">Blood transfusions are needed for: women with complications of pregnancy, children with severe
          anaemia, people with severe trauma, and for cancer patients. It's also needed for regular transfusions for people
          with conditions such as thalassaemia and sickle cell disease.</p>
      </div>
      <!--end of single col-->
    </div>
  </div>
</section>
<!--end of why donate section-->

<!--Who can donate section-->
<section id="who" class="my-4">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <!--Title-->
        <div class="row">
          <div class="col text-center">
            <h1 class="display-4 text-uppercase text-white font-weight-bold my-4">
              <strong>who can donate?</strong>
            </h1>
            <div class="title-underline bg-white"></div>
          </div>
        </div>
        <!--end of title-->
        <p class="lead py-2 mx-4 w-75 font-weight-bold text-white mb-0 mt-3">Most people can give blood. You can give blood
          if you:
          <ul class="lead py-2 mx-4 w-75 font-weight-bold text-white">
            <li>are fit and healthy</li>
            <li>weigh between 7 stone 12 lbs and 25 stone, or 50kg and 160kg</li>
            <li> are aged between 17 and 66 (or 70 if you have given blood before)</li>
            <li> are over 70 and have given blood in the last two years</li>
          </ul>
      </div>
    </div>
  </div>
</section>
<!--end of who-->

<!--contact section-->
<section id="contact" class="py-5 bg-white">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4 text-uppercase text-danger font-weight-bold mb-4 mt-2">
          <strong>Contact</strong>
        </h1>
        <div class="title-underline bg-danger"></div>
      </div>

      <!--end of title-->
      <div class="row mt-3">
        <!--team member-->
        <div class="col-md-6 col-lg-4 my-3 mx-auto">
          <div class="card">
            <img src="../../assets/merna.jpeg" alt="Merna" class="card-img-top image img-fluid">
            <!--card-body-->
            <div class="card-body">
              <h5 class="card-title text-capitalize">merna atef</h5>
              <p class="card-text">SBME senior. Researcher. Front-end.</p>
            </div>
            <!--end of card-body-->
            <!--footer of card-->
            <div class="card-footer d-flex justify-content-around bg-danger">
              <a href="#"><i class="fab fa-facebook fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-twitter fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-youtube fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-github fa-2x facolor"></i></a>
            </div>
            <!--end of card footer-->
          </div>
        </div>
        <!--end of team member-->
        <!--team member-->
        <div class="col-md-6 col-lg-4 my-3">
          <div class="card">
            <img src="../../assets/youssef.jpeg" alt="Youssef" class="card-img-top image img-fluid">
            <!--card-body-->
            <div class="card-body">
              <h5 class="card-title text-capitalize">Youssef Gamal</h5>
              <p class="card-text">SBME senior. SCRUM MASTER. Back-end.</p>
            </div>
            <!--end of card-body-->
            <!--footer of card-->
            <div class="card-footer d-flex justify-content-around bg-danger">
              <a href="#"><i class="fab fa-facebook fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-twitter fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-youtube fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-github fa-2x facolor"></i></a>
            </div>
            <!--end of card footer-->
          </div>
        </div>
        <!--end of team member-->
        <!--team member-->
        <div class="col-md-6 col-lg-4 my-3 mx-auto">
          <div class="card">
            <img src="../../assets/mosaad.jpeg" alt="Mahmoud" class="card-img-top image img-fluid">
            <!--card-body-->
            <div class="card-body">
              <h5 class="card-title text-capitalize">Mahmoud Mosaad</h5>
              <p class="card-text">SBME senior. Programmer And Music Expert. Back-end.</p>
            </div>
            <!--end of card-body-->
            <!--footer of card-->
            <div class="card-footer d-flex justify-content-around bg-danger">
              <a href="#"><i class="fab fa-facebook fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-twitter fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-youtube fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-github fa-2x facolor"></i></a>
            </div>
            <!--end of card footer-->
          </div>
        </div>
        <!--end of team member-->
        <!--team member-->
        <div class="col-md-6 col-lg-4 my-3 mx-auto">
          <div class="card">
            <img src="../../assets/jtear.jpg" alt="Eman" class="card-img-top img img-fluid image">
            <!--card-body-->
            <div class="card-body">
              <h5 class="card-title text-capitalize">Eman Moustafa</h5>
              <p class="card-text">SBME senior. Programmer. Back-end.</p>
            </div>
            <!--end of card-body-->
            <!--footer of card-->
            <div class="card-footer d-flex justify-content-around bg-danger">
              <a href="#"><i class="fab fa-facebook fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-twitter fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-youtube fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-github fa-2x facolor"></i></a>
            </div>
            <!--end of card footer-->
          </div>
        </div>
        <!--end of team member-->
        <!--team member-->
        <div class="col-md-6 col-lg-4 my-3 mx-auto">
          <div class="card">
            <!--bootstrap creates cards-->
            <img src="../../assets/peter.jpeg" alt="Peter" class="card-img-top image img-fluid">
            <!--img takes only top of the card-->
            <!--card-body-->
            <div class="card-body">
              <h5 class="card-title text-capitalize">Peter Emad</h5>
              <p class="card-text">SBME senior. Programmer. Media Representative.</p>
            </div>
            <!--end of card-body-->
            <!--footer of card-->
            <div class="card-footer d-flex justify-content-around bg-danger">
              <a href="#"><i class="fab fa-facebook fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-twitter fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-youtube fa-2x facolor"></i></a>
              <a href="#"><i class="fab fa-github fa-2x facolor"></i></a>
            </div>
            <!--end of card footer-->
          </div>
        </div>
        <!--end of team member-->
      </div>
      <!--google maps-->
      <div class="col-md-6 my-3 mx-auto">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4167.9907841069335!2d31.493285698366176!3d30.019635124130403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458225990beb609%3A0xd85aab7d94b0a55d!2sNewCity+Suites+%26+Apartments!5e0!3m2!1sen!2seg!4v1548500583825"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <!--end of google maps-->
    </div>
  </div>
</section>
<!--end of contact-->